//Son las configuraciones globales de la app

//Colors
$primario: #313AD5;
$segundo: #363636;
$tercero: #d8d8d8;

//boton de Google:
$white: #fff;
$google-color: #F7F7F7;
$button-active-color:#F2F2F2;
